@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /*Defined variable for a commonly used color*/
    --wachusettGreen: #1B5E20;
}

body{
}

.pgcontent{
    padding-top: 60px;
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    float: left;
    width: 100%;
    z-index: 9999;
    transition: background-color .5s;
}

.navbaritem {

}

.navbar.scrolled {
    background-color: var(--wachusettGreen);
}

.navbarbutton {
    color: black;
    font-family: "Segoe UI";
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    transition: all .2s ease-out;
}

    .navbarbutton:hover {
        font-family: "Segoe UI";
        box-shadow: 0px -2px black inset;
        color: #000000;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

.navbarbutton-cur {
    font-family: "Segoe UI";
    color: black;
    box-shadow: 0px -3px black inset;
    font-family: 'Roboto', sans-serif;
    animation: navbarCurSelect .5s ease-in-out;
}

.navbar-scrolled.navbarbutton{
    color: white !important;
}

/*The black bar under the selected page pop up*/
@keyframes navbarCurSelect {
    from {
        box-shadow: 0px 0px #000066 inset;
    }
}

.navbarbutton:active {
    font-family: "Segoe UI";
    color: black;
    box-shadow: 0px -50px white inset;
    font-family: 'Roboto', sans-serif;
}


.newsbanner {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 6px 20px 0px #868e96;
}